

/*-- scss:defaults --*/

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

/* NAVBAR */

.navbar{
    background-color: #88B04B !important;
    border: none;
}


/* TOC */
.sidebar-title>a {
    color: #88B04B !important;
}


.sidebar nav[role=doc-toc] ul>li>a {
  color: black !important;
}

.sidebar nav[role=doc-toc] ul>li>a:hover {
    background-color: #fae4a7 !important;
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    background-color: #88B04B !important;
    color: white !important;
    font-weight: bold;
}
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
    color: white !important;
}



/* HEADERS */

h1 {
  padding-top: 2em !important;
  margin-top: -1em !important;
  font-family: 'Work Sans', sans-serif;
}

h2, h3, h4, h5, h6 {
  padding-top: 2em !important;
  margin-top: -1em !important;
  font-family: 'Work Sans', sans-serif;
}
body {
  font-family: 'Work Sans', sans-serif;
}


/* Boxes */

div.lo, div.blue, div.red, div.green, div.yellow, div.frame, div.statbox{ 
    border-radius: 5px; 
    padding: 20px 20px 10px 20px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}
.blue { 
    background-color:#d9edf7 !important; 
}
.green { 
    background-color:#dff0d8 !important; 
}
.yellow { 
    background-color:#fcf8e3 !important; 
}
.red { 
    background-color:#F3E3E5 !important; 
}
.frame {
    border: 1px solid #333333 !important; 
}



div.int {
    margin-left: 3em;
    margin-right: 3em;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 8px solid #73a3c3;
    border-right: 8px solid #73a3c3;
}
.lo {
  border: 3px solid #88B04B !important; 
}
.statbox{
  border: 3px solid #62CBD5 !important; 
}
.rtip{
  margin-top: 20px; 
  margin-bottom: 20px; 
  padding: 10px 10px 10px 10px; 
  box-shadow: -10px -10px 0 -5px #a64bb0, 10px 10px 0 -5px #a64bb0;
}
.imp{
  border: 2px dashed #FF3131;
  padding: 10px 10px 10px 10px; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}


.sticky {
  right: 0;
  z-index: 150;
  transform: rotate(0deg);
  margin: 20px 10px 20px;
  padding: 10px;
  color: #000;
  background: rgba(255, 221, 51, 0.8);
  box-shadow: -5px 5px 5px rgba(0,0,0,0.3);
}
.sticky:before, .sticky:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
}
.sticky:before {
  border-top: solid 8px #fff;
  border-right: solid 8px #fff;
  border-left: solid 8px transparent;
  border-bottom: solid 8px transparent;
}
.sticky:after {
  border-bottom: solid 8px #dddd33;
  border-left: solid 8px #dddd33;
  border-right: solid 8px transparent;
  border-top: solid 8px transparent;
}




/* Questions and solutions */

.hints{
  font-size: .8em;
  padding-left: 15px;
}


.question-begin {
    padding: 10px 20px 10px 20px; 
    margin-top: 20px;
    font-weight: 700; 
    border-left: 5px solid #73a3c3;
}

.solution-begin {
    color: #88B04B;
    position: relative;
    padding: 10px 20px 10px 20px; 
    margin-top: 20px;
    font-weight: 900; 
}

.question-body {
    padding: 20px 20px 10px 20px; 
    margin-bottom: 20px;
    background: #eef4f8;
    border-left: 5px solid #73a3c3;
}

.solution-body {
  padding: 20px 20px 10px 20px; 
  margin-bottom: 20px;
  border-left: 5px solid #88B04B;
  border-right: 5px solid #88B04B;
}


.solution-icon {
    font-size: 1.2em;
    color: #88B04B;
    float: left;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0,-50%);
}

/* Optional box */

.optional-begin {
    position: relative;
    padding: 10px 20px 10px 20px; 
    margin-top: 15px;
    font-weight: 900;
}

.optional-body {
    margin-bottom: 20px;
    border-left: 5px solid #73a3c3;
    border-right: 5px solid #73a3c3;
    padding: 10px 10px 10px 10px; 
    box-shadow: 10px 10px 0 -5px #73a3c3;
}

.optional-icon {
    font-size: 1.2em;
    color: #73a3c3;
    float: left;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0,-50%);
}

.sourceCode{
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -o-user-select: none !important;
  user-select: none !important;
}
