/* 
 ===== font fixes etc., here just for reference =====

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

body {
  font-family: 'Fira Sans','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}
*/

/*
.remark-code, .remark-inline-code {
  font-size: 80%;
}
*/

.remark-slide-content {
    font-size: 20px;
    padding: 1em 4em 1em 4em;
}

/* logo on title page */
.title-slide.remark-slide-content:before{
  position: absolute;
  height:60px;
  width: 120px;
  top: 20px;
  left: 20px;
  content:url("logo.png");
}

div.int {
    margin-left: 3em;
    margin-right: 3em;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 8px solid #dff0d8;
    border-right: 8px solid #dff0d8;
}

div.acronym {
  display: inline-block;
  border-radius: 5px; 
  padding: 5px 5px 5px 5px; 
  margin-top: 5px; 
  margin-bottom: 5px;
  background-color: grey !important; 
  color: white !important;
  font-size: 1.3em;
  width: 1.2em;
}
.extra{
  background-color: #c5d9e7;
}
.extra strong, .extra h2, .extra h3, .extra h4, .extra .remark-inline-code{
  color: #2e536c !important;
}

/* code highlights */

.remark-code-line-highlighted { background-color: #d0d9ff; }
