/*-- scss:defaults --*/

$grid-body-width: 900px !default;

// theme
$primary-theme: #88B04B !default;
$primary-theme-light: #dbe7c9 !default; 
$primary-theme-dark: #51692d !default; 
$primary-theme-compl: #72129f !default;
$primary-theme-link: #0000ee !default;


$font-family-sans:    'Inter Sans', sans-serif !default;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Bakbak+One&family=Source+Code+Pro&display=swap');


.navbar{
    background-color: $primary-theme !important;
    border: none;
}


/* TOC */
.sidebar-title>a {
    color: $primary-theme !important;
}


.sidebar nav[role=doc-toc] ul>li>a {
  color: black !important;
}

.sidebar nav[role=doc-toc] ul>li>a:hover {
    background-color: $primary-theme-light !important;
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    background-color: $primary-theme !important;
    color: white !important;
    font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
    color: white !important;
}
.sidebar-link.active{
    font-weight: bold;
}


/* HEADERS */

h1 {
  padding-top: 2em !important;
  margin-top: -1em !important;
  font-weight: bold;
  font-family: 'Inter Sans', sans-serif;
  border-bottom: 0px;
  color: $primary-theme;
}

h2, h3, h4, h5, h6 {
  padding-top: 2em !important;
  margin-top: -1em !important;
  font-weight: bold;
  font-family: 'Inter Sans', sans-serif;
  border-bottom: 0px;
  color: $primary-theme;
}
body {
  font-family: 'Inter Sans', sans-serif;
}
a {
  color: $primary-theme-link;
}

/* PANELSETS */
.panelset .panel-tabs .panel-tab.panel-tab{
    background: $primary-theme-light !important;
}
.panelset .panel-tabs .panel-tab.panel-tab-active{
    background: $primary-theme !important;
}
.panelset{
    border: 2px solid $primary-theme;
    padding: 2px;
}


/* BOXES */
div.lo, div.frame{ 
    border-radius: 5px; 
    padding: 20px 20px 10px 20px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}
.frame {
    border: 1px solid #333333 !important; 
}
div.int {
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 10px solid #0071C5;
    border-right: 10px solid #0071C5;
}
.lo {
  border: 4px solid $primary-theme !important; 
  border-left: 20px solid $primary-theme-light !important;
  border-right: 20px solid $primary-theme-light !important;
}
.lo::before{
  content: url(assets/lightbulb-solid.png);
  font-weight: bold;
  color: $primary-theme;
  margin-right:-10px;
  margin-top: -15px;
  text-align: right;
  float: right;
}
.rtip{
  margin-top: 20px; 
  margin-bottom: 20px; 
  padding: 10px 10px 10px 10px; 
  box-shadow: -10px -10px 0 -5px $primary-theme-compl, 10px 10px 0 -5px $primary-theme-compl;
}
.rtip::before{
  content: "R Tip";
  font-weight: bold;
  color: $primary-theme-compl;
  margin-right:-10px;
  margin-top: -15px;
  text-align: right;
  float: right;
}

.sticky {
  right: 0;
  z-index: 150;
  transform: rotate(0deg);
  margin: 20px 10px 20px;
  padding: 10px;
  color: #000;
  background: rgba(255, 221, 51, 0.8);
  box-shadow: -5px 5px 5px rgba(0,0,0,0.3);
}
.sticky:before, .sticky:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
}
.sticky:before {
  border-top: solid 8px #fff;
  border-right: solid 8px #fff;
  border-left: solid 8px transparent;
  border-bottom: solid 8px transparent;
}
.sticky:after {
  border-bottom: solid 8px #dddd33;
  border-left: solid 8px #dddd33;
  border-right: solid 8px transparent;
  border-top: solid 8px transparent;
}

/* DIVIDER */
.divider {
    position: relative;
    margin-top: 90px;
    margin-bottom: 40px;
    height: 1px;
    border: none;
}
.divider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
.divider::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -9px; 
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-color: $primary-theme; 
    border: 1px solid rgb(48,49,51);
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white, 0 0 0 4px white; 
}
