

/*-- scss:defaults --*/

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

.navbar{
    background-color: #88B04B !important;
    border: none;
}


/* TOC */
.sidebar-title>a {
    color: #88B04B !important;
}


.sidebar nav[role=doc-toc] ul>li>a {
  color: black !important;
}

.sidebar nav[role=doc-toc] ul>li>a:hover {
    background-color: #f1f6ea !important;
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    background-color: #88B04B !important;
    color: white !important;
    font-weight: bold;
}
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
    color: white !important;
}

.sidebar-link.active{
    font-weight: bold;
}


/* HEADERS */

h1 {
  padding-top: 2em !important;
  margin-top: -1em !important;
  font-family: 'Work Sans', sans-serif;
}

h2, h3, h4, h5, h6 {
  padding-top: 2em !important;
  margin-top: -1em !important;
  font-family: 'Work Sans', sans-serif;
}
body {
  font-family: 'Work Sans', sans-serif;
}

/* Boxes */


div.lo, div.blue, div.red, div.frame, div.statbox{ 
    border-radius: 5px; 
    padding: 20px 20px 10px 20px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}
.blue { 
    background-color:#d9edf7 !important; 
}
.red { 
    background-color:#F3E3E5 !important; 
}
.frame {
    border: 1px solid #333333 !important; 
}

.panelset .panel-tabs .panel-tab.panel-tab{
    background: #f1f6ea !important;
}
.panelset .panel-tabs .panel-tab.panel-tab-active{
    background: #88B04B !important;
}
.panelset{
    border: 2px solid #7f93c8;
    padding: 2px;
}
div.int {
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 10px solid #25b0a2;
    border-right: 10px solid #25b0a2;
}

.lo {
  border: 4px solid #88B04B !important; 
  border-left: 20px solid #56b04b !important;
  border-right: 20px solid #56b04b !important;
}
.lo::before{
  content: url(assets/lightbulb-solid.png);
  font-weight: bold;
  color: #88B04B;
  margin-right:-10px;
  margin-top: -15px;
  text-align: right;
  float: right;
}
.statbox{
  border: 4px solid #88B04B !important; 
}
.imp{
  border: 3px dashed #FC766A;
  padding: 10px 10px 10px 10px; 
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.rtip{
  margin-top: 20px; 
  margin-bottom: 20px; 
  padding: 10px 10px 10px 10px; 
  box-shadow: -10px -10px 0 -5px #b04b88, 10px 10px 0 -5px #b04b88;
}
.rtip strong{
  color:#b04b88 !important;
}
.rtip::before{
  content: "R Tip";
  font-weight: bold;
  color: #b04b88;
  margin-right:-10px;
  margin-top: -15px;
  text-align: right;
  float: right;
}

.sticky {
  right: 0;
  z-index: 150;
  transform: rotate(0deg);
  margin: 20px 10px 20px;
  padding: 10px;
  color: #000;
  background: rgba(255, 221, 51, 0.8);
  box-shadow: -5px 5px 5px rgba(0,0,0,0.3);
}
.sticky:before, .sticky:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
}
.sticky:before {
  border-top: solid 8px #fff;
  border-right: solid 8px #fff;
  border-left: solid 8px transparent;
  border-bottom: solid 8px transparent;
}
.sticky:after {
  border-bottom: solid 8px #dddd33;
  border-left: solid 8px #dddd33;
  border-right: solid 8px transparent;
  border-top: solid 8px transparent;
}


/* Questions and solutions */
.jk-circle-right::before {
  vertical-align: middle;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>');
}
.jk-circle-down::before {
  vertical-align: middle;
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/></svg>');
}

.hints{
  font-size: .8em;
  padding-left: 15px;
}


.question-begin {
    padding: 10px 20px 10px 20px; 
    margin-top: 20px;
    font-weight: 700; 
    border-left: 5px solid #88B04B;
}

.question-body {
    padding: 20px 20px 10px 20px; 
    margin-bottom: 20px;
    background: #fbfcfa;
    border-left: 5px solid #88B04B;
}


.solution-begin {
    border-right: 5px solid #4b56b0;
    position: relative;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    font-weight: 700;
}
.solution-begin button{
  border: none !important;
}

.solution-body {
  padding: 20px 20px 10px 50px;
  margin-bottom: 20px;
  border-right: 5px solid #4b56b0;
}

.solution-icon {
    color: #4b56b0;
    font-size: 1em;
    float: left;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0,-50%);
}
/* Optional box */

.optional-begin {
    border-right: 5px solid black;
    position: relative;
    text-align: right;
    padding: 10px 20px 10px 20px; 
    margin-top: 15px;
    font-weight: 900;
}
.optional-begin button{
  border: none !important;
}

.optional-body {
    margin-bottom: 20px;
    border-right: 5px dashed black;
    padding: 10px 10px 10px 10px; 
}

.optional-icon {
    font-size: 1em;
    color: black;
    float: left;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0,-50%);
}



/* DIVIDER */
.divider
{
	position: relative;
	margin-top: 90px;
	margin-bottom: 40px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: #88B04B;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}

