/*-- scss:defaults --*/
// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Plex&family=Bakbak+One&family=Source+Code+Pro&display=swap');


// body font
$font-family-sans-serif: 'Plex', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif !default;

// code font
$font-family-monospace: 'Source Code Pro', monospace !default;

// headings
$presentation-heading-font: 'Bakbak One', Tahoma, sans-serif  !default;
$presentation-heading-font-weight: 400 !default;
$presentation-heading-color: #458c3c !default;
$presentation-heading-line-height: 2 !default;
// everything a little smaller, except slide titles
$presentation-font-size-root: 28px;
$presentation-h2-font-size: 1.8em;


/*-- scss:rules --*/

h2 > img{
  bottom: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.reveal strong {
  color: $presentation-heading-color;
}

.reveal pre code {
  max-height: 1000px;
}

.reveal .callout.callout-style-default div.callout-body {
 	  font-size: var(--r-main-font-size);
}

.center-xy {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.center-x {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.center-img {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.space-above {
    margin-top: 5% !important;
}

.noscroll {
  overflow-x: hidden !important;
}

.accent {
  color: $presentation-heading-color;
}

.nobrk {
  white-space: nowrap;
  overflow: hidden;
}

.red {
  color: #ff0000 !important;
}

.green {
  color: #00aa00 !important;
}

.blue {
  color: #0000ff !important;
}

.orange {
  color: #FCa22d !important;
}

.grey {
  color: gray !important;
}

.reveal .caption {
  text-align: center !important;
}

#vcenter {
  vertical-align: middle;
}

.myblock {
  background: gray;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  color: white;
}

.myyellowblock {
  background: #fbdcc0;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}
